<form method="POST" action="/user/createPhotoBook" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <label>photo book =5</label>
            <input type="file" name="filedata" multiple="5" />
            <input id="submit" type="button" onclick="createPhoto()" value="Добавить фото" />
        </div>
    </div>
</form>